<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-8">
      <div class="card">
        <h5 class="card-header">Change Password</h5>
        <div class="card-body">
          <form>
            <div class="row justify-content-center">
              <div class="col-7 my-2">
                <label for="oldPsw" class="form-label">Old Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="oldPsw"
                  name="oldPsw"
                />
              </div>
              <div class="col-7 my-2">
                <label for="newPsw" class="form-label">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPsw"
                  name="newPsw"
                />
              </div>
              <div class="col-7 my-2">
                <label for="confirmed" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmed"
                  name="confirmed"
                />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-2 my-2">
                <button type="submit" class="btn btn-primary my-2">
                  Change
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
