<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-book-half mx-3"
          viewBox="0 0 16 16"
        >
          <path
            d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
          />
        </svg>
        <a class="navbar-brand" routerLink="/admin-home"><h3>Library</h3></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-4 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/admin-home"
                routerLinkActive="text-primary"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/admin-home/allbooks"
                routerLinkActive="text-primary"
                >All Books</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/admin-home/wishlistBooks"
                routerLinkActive="text-primary"
                >WishList Books</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                routerLink=""
                routerLinkActive="text-primary"
                [routerLinkActiveOptions]="{ exact: true }"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                settings
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/admin-home/show-profile"
                    >Profile</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="/admin-home/change-password"
                    >Change password</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/admin-home/sign-up"
                    >Add new Admin</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" routerLink="/admin-home/allUsers"
                    >All users</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/admin-home/active"
                    >Active users</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/admin-home/inactive"
                    >Inactive users</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/log-in">Log Out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
